.slider-container {
    background-color: #419be0;
    padding: 40px;
}

.background{
  position: relative;
  height: 85vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
