.bg-container{
    height: 100vh;
    width: 100vw;
    background-image: url("https://res.cloudinary.com/dquu2hthg/image/upload/v1761383890/netfilx_1_mdpemr.svg");
    background-size: cover;
     background-position: center;
     position: relative;
}
.main-heading{
    position: fixed;
    padding-top: 50px;
    padding-left: 170px;
    color: #E50014;
    height: 52px;
    width: 180px;
    font-family: "roboto",sans-serif;
    
}
.input-container{
    height: 500px;
    width: 500px;
    background-color: #0C0B10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}
.input-container h1 {
 display: flex;
 justify-content: center;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 70px;
}
.side-para{
   
    padding-left: 40px;
    
    padding-top: 10px;
}
.input-bar{
    width: 400px;
    height: 40px;
    border-radius: 2px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.lgn-btn{
    width: 400px;
    height: 50px;
    border-radius: 8px;
     margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: red;
}
.error-msg{
    padding-left: 40px;
    color: red;
  
}